APP_NAME=ControlPlane API
APP_ENV=development
DEBUG=True

# ==================================================
# Database
# ==================================================

DATABASE_URL=postgresql+asyncpg://postgres:password@localhost/controlplane